html {
  height: 100%;
}
body {
  min-height: 100%;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.navbar {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;

  * {
    transition: all 500ms ease;
  }
  .active {
    background-color: #000;
    color: #ccc;
  }

  // some css fun
  &.with-indicator {
    position: relative;

    a:first-child.active ~ a:last-child:after {
      left: 0;
    }
    a:nth-child(2).active ~ a:last-child:after {
      left: calc(100% - 100vw/2);
    }
    a:last-child.active:after {
      left: calc(100% - 36px);
    }

    a:nth-child(1):hover ~ a:last-child:after {
      left:0 !important;
    }
    a:nth-child(2):hover ~ a:last-child:after {
      left: calc(100% - 100vw/2) !important;
    }
    a:nth-child(3):hover ~ a:last-child:after {
      left: calc(100% - 36px) !important;
    }

    a {
      &:last-child {
        &:after {
          content: '';
          display: block;
          position: absolute;
          pointer-events: none;
          transition: left 1s ease;
        }
        &:after {
          background: #e82d00;
          top: -6px;
          width: 10px;
          height: 10px;
          z-index: -1;
          border-radius: 5px;
        }
      }
    }
  }

  
}
